<!DOCTYPE html>
<html>
	{{ template "head" "Gokémon"}}
	<body>
		<div id="content">
			<ul>
				{{range .Pokemons}}	<li><a href="{{ .Path }}">{{ .Name }}</a></li> {{end}}
			</ul>
		</div>
	</body>
</html>