<!DOCTYPE html>
<html>
	{{template "head" .PokemonCard.NameEN}}
	<body>
		<div id="content">
			{{template "card" .PokemonCard}}

			{{template "descriptions" .PokemonDescriptions}}

			{{template "evolution_chain" .PokemonEvolutionGridS}}
		</div>
	</body>
</html>